$main-color: #ff9204;
@import "normalize";

%nostlye {
  margin: 0;
  padding: 0%;
  list-style: none;
}
@mixin r_t_w_i($url, $width, $height) {
  width: $width;
  height: $height;
  margin: 0 0 20px;
  background: url($url) no-repeat;
  background-size: 100% 100%;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes moving-box {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -240px;
  }
  100% {
    background-position: 0 0;
  }
}

html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.4;
  color: #555;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0081c3;
  text-decoration: underline;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.hide {
  display: none !important;
}

img {
  max-width: 100%;
  max-height: 100%;
}
#menuBtn {
  background-color: $main-color;
}
.top-menu {
  height: 36px;
  background: $main-color;
  ul {
    @extend %nostlye;
    display: flex;
    justify-content: flex-end;
  }
  a {
    display: block;
    width: 90px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  li:hover {
    background-color: #ff6204;
    transition-property: background;
    transition-duration: 10s;
  }
  i {
    margin-right: 5px;
  }
}

h1.logo {
  margin: 0;
  a {
    display: block;
  }
  img {
    display: block;
    width: 250px;
    height: 62px;
    margin: 0;
  }
}

.top-block div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 9px 0;
}

.search {
  position: relative;
  input {
    width: 285px;
    height: 28px;
    border: #ddd 2px solid;
    border-radius: 17px;
  }
  input:focus {
    outline: none;
    border-color: #009ced;
    box-shadow: #009ced 0 0 2px;
  }
  i {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}

.main-menu {
  height: 38px;
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  button {
    display: none;
  }
  ul {
    @extend %nostlye;
    display: flex;
  }
  a {
    display: block;
    height: 38px;
    line-height: 38px;
    color: #3d4143;
    text-align: center;
    text-decoration: none;
  }
  a:hover {
    background: $main-color;
    color: #fff;
  }
  li {
    flex: 0 0 20%;
  }
}

.index-image {
  height: 400px;
  background: url(../images/index-image.jpg) center center no-repeat;
  background-size: cover;
  .container {
    position: relative;
    height: 100%;
  }
  h2 {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    margin: 0 0 0 150px;
    left: 50%;
    bottom: 80px;
  }
  h2 span {
    display: block;
    position: relative;
    left: 2em;
  }
}

.new-items {
  padding: 40px 0;
  .container ul {
    @extend %nostlye;
    display: flex;
    justify-content: space-between;
  }
  li {
    flex: 0 0 340px;
  }
}

.featured-item {
  background: #eee;
  padding: 40px 0;
  h2 {
    color: $main-color;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .item-content {
    display: flex;
  }
  .item-img {
    flex: 0 0 360px;
    margin-right: 30px;
  }
  .item-text {
    flex-grow: 1;
  }
  h3 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  p {
    margin: 0;
  }
  .user {
    float: right;
    margin-top: 30px;
  }
}

.user img {
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}

.news-and-principle {
  padding: 40px 0;
  .container {
    display: flex;
  }
}

.news {
  flex-grow: 1;
  min-width: 0;
  h2 {
    @include r_t_w_i("../images/news-title@2x.png", 120px, 36px);
  }
  ul {
    @extend %nostlye;
  }
  li {
    padding: 8px;
    border-bottom: #ddd 1px dotted;
  }
  a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li:nth-child(even) {
    background: #f5f5f5;
  }
}

.principle {
  flex: 0 0 280px;
  margin-left: 30px;
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  h2 {
    margin: 0;
    height: 60px;
    padding: 20px;
    background: #5f5547;
    /*
        height:100px;
        padding:20px;
    
        */
    position: relative;
  }

  h2::after {
    content: "";
    display: block;
    position: absolute;
    /*border:transparent 8px soild
          border-top:#ff924 8px soild;*/
    border-top: $main-color 8px solid;
    border-left: transparent 8px solid;
    border-right: transparent 8px solid;
    top: 0;
    left: 40px;
  }
  h2::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff url(../images/cat-head-animate@2x.png) no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    background-size: 60px 300px;
    animation-name: moving-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
  }
  h2 img {
    display: none;
  }
  li {
    font-size: 18px;
    margin: 10px 0;
  }
}
.principle-content {
  background: $main-color;
  padding: 10px;
  flex: 1;
}

.page-footer {
  padding: 40px 0;
  background-color: #3d4143;
  color: #fff;
  text-align: center;
}
.contact {
  ul {
    @extend %nostlye;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  li {
    flex: 0 0 340px;
    margin: 20px 0;
  }
  .business-hours {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: "1140px") {
  .container {
    width: 820px;
  }
  .index-image h2 {
    left: auto;
    margin: 0;
    right: 2em;
  }
  .new-items li {
    flex: 0 0 260px;
  }
  .page-footer li {
    flex: 0 0 260px;
  }
}
@media screen and (max-width: "880px") {
  .container {
    width: 740px;
  }
  .new-items ul {
    flex-direction: column;
  }
  .new-items li {
    display: flex;
    flex-basis: auto;
  }
  
  li > a {
    margin-right: 30px;
    flex: 0 0 200px;
  }
  li > div {
    flex: 1;
  }
  li h2 {
    margin-top: 0;
  }
  .news-and-principle {
    .container {
      flex-direction: column;
    }
    a {
      margin: 0;
    }
    .principle {
      margin: 30px 0 0 0;
      flex-basis: auto;
      flex-direction: column;
      h2 {
        padding: 0;
        background: transparent;
        color: #555;
      }
    }
    h2::after {
      display: none;
    }
    h2:before {
      border: $main-color 3px solid;
    }
    ol {
      list-style: none;
    }
    ol li {
      position: relative;
    }
    ol li::before {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      background: #fff;
      color: $main-color;
      text-align: center;
      line-height: 20px;
      position: absolute;
      top: 2px;
      left: -25px;
    }
    ol li:nth-child(1)::before {
      content: "1";
    }
    ol li:nth-child(2)::before {
      content: "2";
    }
    ol li:nth-child(3)::before {
      content: "3";
    }
  }
  .page-footer ul {
    flex-direction: column;
  }
  .page-footer li {
    margin: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: "768px") {
  .container {
    width: 90%;
  }
  .item-content {
    display: flex;
    flex-direction: column;
  }
  .featured-item  {
    h3 {
        text-align: center;
    }
    .item-img {
        flex-basis: auto;
        margin: 0;
        img {
          display: block;
          margin: 0 auto;
        }
      }
  }
  .new-items {
      a {
          margin: 0;
      }
  }
}
@media screen and (max-width: "640px") {
  .top-block .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-block {
    height: auto;
  }
  h1.logo {
    margin: 20px;
  }
  .main-menu {
    position: relative;
    .container {
      width: 100%;
    }

    button {
      display: block;
      color: #fff;
     border: none;
     width: 100%;
     height: 40px;
     i{
       margin-left:5px; 
     }
    }
    ul{
      background:rgba(#fff,0.9);
      flex-direction: column;
      position: absolute;
      top:40px;
      width: 100%;
      z-index:5;
    }
  }
}
@media screen and (max-width: "640px"){
  .new-items li{
    flex-direction: column;
    align-items:center;
  }
  .new-items h2{
    text-align: center;
    margin-top: 10px;
  }
}